@import "lib/btn.css";
@import "lib/input.css";

.form-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1300px;
}

.form-add {
	display: flex;
	flex-direction: column;
	background: #F6F6F6;
	padding: 20px 50px;
}

.popup {
	position: fixed;
	height: 40px;
	line-height: 40px;
	left: 50%;
	bottom: 30px;
	transform-origin: center;
	transform: translateX(-50%);
	padding: 0 20px;
	border-radius: 1in;
	color: #ffffff;
	background: #515151;
	text-align: center;
	font-weight: 500;
	transition: .1s;
}

.hidden {
	opacity: 0;
}

/*==========================
main fields and images
==========================*/

.main-fields-and-images {
	flex: 1;
	display: flex;
}

.main-fields {
	flex: 1;
	display: flex;
	flex-direction: column;
}

/*==========================
images
==========================*/

.images {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.images-title {
	font-size: 18px;
	font-weight: 700;
}

.main-image {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}

.input-image-header {
	display: flex;
	justify-content: space-between;
}

.upload-image {
	display: none;
}

.btn-change {
	color: #107F84;
	font-weight: 500;
}

.btn-change:hover {
	text-decoration: underline;
}

.image-img {
	width: 130px;
	height: 130px;
	margin: 10px;
	object-fit: contain;
	border-radius: 10px;
	background: #ffffff;
}

.no-images-title {
	margin-top: 10px;
}

/*==========================
specifications
==========================*/

.specifications {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.specifications-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.category-field {
	display: flex;
	align-items: center;
}

.input-category {
	font-weight: 600;
}

.add-category {
	margin: auto;
}

.spec {
	display: flex;
	align-items: center;
}
