@import "lib/btn.css";
@import "lib/input.css";
@import "lib/popup.css";

.form-container {
	flex: 1;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px 50px;
	max-width: 1300px;
	min-height: calc(100vh - var(--nav-height));
}

.form-add {
	display: flex;
	flex-direction: column;
	background: #F6F6F6;
	padding: 20px 50px;
}

/*==========================
main fields and images
==========================*/

.main-fields-and-images {
	flex: 1;
	display: flex;
	align-items: flex-start
}

.main-fields {
	flex: 1;
	display: flex;
	flex-direction: column;
}

/*==========================
images
==========================*/

.images {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.images-title {
	font-size: 18px;
	font-weight: 700;
}

.main-image {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}

.input-image-header {
	display: flex;
	justify-content: space-between;
}

.upload-image {
	display: none;
}

/*==========================
image
==========================*/

.image-img {
	position: relative;
	width: 130px;
	height: 130px;
	margin: 10px;
	object-fit: contain;
	border-radius: 10px;
	background: #ffffff;
}

.image-container {
	display: inline-block;
	position: relative;
}

.image-remove-btn {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #DF0310;
	right: 0;
	top: 0;
	border-radius: 50%;
	cursor: pointer;
}

.image-remove-btn::before, .image-remove-btn::after {
	position: absolute;
	content: '';
	top: 3px;
	width: 14px;
	height: 3px;
	background: #ffffff;
}

.image-remove-btn::before {
	left: 5px;
	transform-origin: left;
	transform: rotateZ(45deg);
}

.image-remove-btn::after {
	right: 5px;
	transform-origin: right;
	transform: rotateZ(-45deg);
}

.no-images-title {
	margin-top: 10px;
}

/*==========================
specifications
==========================*/

.specifications {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.specifications-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.category-field {
	display: flex;
	align-items: center;
}

.input-category {
	font-weight: 600;
}

.add-category {
	margin: 0 auto 15px;
}

.spec {
	display: flex;
	align-items: center;
}
