@import "lib/pagination.css";
@import "lib/card.css";
@import "lib/input.css";
@import "lib/popup.css";
@import "lib/alert-dialog.css";

.admin-line {
	margin: 5px;
	display: flex;
	align-items: center;
	width: 50%;
}

/*==========================
search
==========================*/

.local-search {
	display: flex;
	height: 40px;
	line-height: 40px;
	flex: 1;
	border-radius: 10px;
	background: var(--color-main);
	border: 2px solid var(--color-outline);
}

.search-field::placeholder {
	color: var(--color-placeholder);
}

.btn-normal:hover {
	background: none;
}

.trash-icon {
	width: 30px;
	height: 25px;
	min-width: 30px;
	fill: var(--color-font);
	cursor: pointer;
	margin-top: 5px;
}

.trash-icon:hover {
	fill: red;
}

.btn-normal {
	margin: 0;
}

.admin-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.admin {
	display: flex;
	flex-direction: column;
	padding: 10px;
	min-width: 320px;
	margin: 30px 10px 30px 10px;
}

.admin-info {
	margin: 5px;
	white-space: nowrap;
}

.admin-info label {
	font-weight: bold;
}

.delete-section {
	margin-top: 40px;
	display: flex;
	height: 150px;
	width: 100%;
	align-content: center;
	justify-content: center;
	align-items: center;
}
