@import "lib/pagination.css";
@import "lib/card.css";
@import "lib/input.css";

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #F6F6F6;
	max-width: 1500px;
}

.search_result_count {
	margin: 25px 50px;
	font-size: 18px;
}

/*==========================
items
==========================*/

.item-list {
	flex: 1;
	overflow: auto;
	margin-right: 50px;
}

.item {
	display: flex;
	flex: 1;
	min-height: 150px;
	margin: 0 5px 30px;
	background: #FFFFFF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-decoration: none;
	color: inherit;
	transition: .3s;
}

.item:hover {
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
	transition: .3s;
}

.item-no-results {
	padding: 50px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 2;
}

/*==========================
item-image
==========================*/

.item-image {
	object-fit: contain;
	height: 130px;
	width: 130px;
	margin: 10px;
}

/*==========================
item-other
==========================*/

.item-other {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
	flex: 1;
}

/*==========================
item-other-header
==========================*/

.item-other-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.item-title {
	font-size: 17px;
	font-weight: 500;
}

.item-short-description {
	color: #7D7D7D;
}

/*==========================
item-other-footer
==========================*/

.item-other-footer {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.display-order {
	width: 30px;
}

/*==========================
add-to-favorites
==========================*/

.add-to-favorites {
	width: 30px;
	height: 25px;
	min-width: 30px;
	fill: none;
	stroke: #222222;
	cursor: pointer;
}

.add-to-favorites:hover {
	fill: red;
	stroke: none;
}

/*==========================
rating
==========================*/

.rating {
	flex: 1;
	display: flex;
	align-items: center;
}

.star-icon {
	fill: #FF791E;
	width: 25px;
	height: 25px
}

.rating-value {
	margin: 0 10px;
	font-weight: bold;
	color: #333333;
}

.review-count {
	color: #7D7D7D;
}

.price {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

/*==========================
admin-btn-container
==========================*/

.admin-btn-container {
	display: flex;
}

.admin-btn-container .btn {
	margin: 0 10px;
}


/*==========================
filters main
==========================*/

.filters-item-list-row {
	flex: 1;
	display: flex;
}

.filters-column {
	display: flex;
	width: 300px;
	margin: 0 50px;
}

.filters {
	width: 270px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	padding: 15px;

	--filters-height: calc(100vh - var(--nav-height) - 100px);
	max-height: var(--filters-height);
	overflow: auto;
}


.filters::-webkit-scrollbar {
	display: none;
}

/*==========================
filters price category
==========================*/

.filter-price {
	display: flex;
	flex-direction: column;
	width: 270px;
}

.filter-title {
	font-weight: 500;
}

.price-range {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

.price-box {
	flex: 1;
	padding: 0 6px;
	border-radius: 10px;
	border: 2px solid #D9D9D9;
}

.range-dash {
	width: 15px;
	height: 3px;
	margin: 5px;
	background: #C4C4C4;
}

.price-label {
	font-size: 11px;
	color: #aaaaaa;
}

.price-input {
	position: relative;
	display: flex;
	align-items: center;
}

.price-input input {
	margin: 5px 0;
	padding: 0 0 0 5px;
	width: 0;
	border: 0;
	height: 15px;
	line-height: 15px;
	border-radius: 10px;
}

.price-category-body-int{
	width: 100px;
	font-size: 20px;
}

/*==========================
filters specification category
==========================*/

.filter-specs {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 270px;
}

.filter-category {
	position: relative;
	margin: 0;
	line-height: 30px;
}

.filter-category-specification-group {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.filter-category-count{
	margin-left: 5px;
}

.filter-category-specification-line {
	margin-top: 10px;
	border-top:1px solid;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.expand-category, .filter-category-label {
	top: 0;
	right: 0;
	position: absolute;
	cursor: pointer;
}

.expand-category.plus,
.filter-category-label:before,
.expand-category.minus,
.expand-category:checked + .filter-category-label:before {
	content: '+';
	font-size: 26px;
	color: #1266B1;
	font-weight: bold;
	padding-left: 260px;
}

.expand-category.minus, .expand-category:checked + .filter-category-label:before {
	content: '-';
}

.filter-specs-block {
	display: none;
}

.expand-category:checked ~ .filter-specs-block {
	display: block !important;
}

.filter-specs input[type=checkbox].expand-category {
	display:none;
}

.filter-specs-block a:before {
	content: '+';
	font-size: 20px;
	padding-right: 6px;
	color: #666;
	font-weight: bold;
}

.filter-specs-block a:hover:before {
	color: #000;
}

/*==========================
filters tag category
==========================*/

.switch {
	height: 20px;
	position: relative;
	margin: 5px;

	display: inline-block;
}

.switch label {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: #eaeaea;
	border-radius: 10%;
	box-shadow:
		0 3px 5px rgba(0,0,0,0.25),
		inset 0 1px 0 rgba(255,255,255,0.3),
		inset 0 -5px 5px rgba(100,100,100,0.1),
		inset 0 5px 5px rgba(255,255,255,0.3);
}
.switch input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
}

.switch input:checked ~ label { /* Button */
	background: linear-gradient(#be9030, #d08607);
}

/*==========================
filter-buttons
==========================*/

.filter-buttons {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.filter-button {
	margin: 0;
}

.filter-button-checkbox {
	display: none;
	position: absolute;
	left: 360px;
}
