@import "lib/pagination.css";
@import "lib/card.css";
@import "lib/input.css";
@import "lib/popup.css";
@import "lib/add-to-favorites.css";

.search_result_count {
	margin-bottom: 25px;
	font-size: 18px;
}

@media screen and (max-width: 1150px)  {
	.container {
		max-width: 100%;
	}
	.search_result_count {
		padding: 20px;
		margin: 0;
		font-size: 16px;
	}
}

/*==========================
items
==========================*/

.item-list {
	flex: 1;
	overflow: auto;
}

.item {
	display: flex;
	flex: 1;
	min-height: 150px;
	margin: 0 5px 30px;
	border-radius: 10px;
	text-decoration: none;
	color: inherit;
	transition: .3s;
	overflow: hidden;
}

[name=fast-update] {
	position: relative;
}

.no-active {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 1;
	transition: 0.3s;

	background: rgba(0, 0, 0, 0.1);
}

[name=fast-update]:hover .no-active {
	opacity: 0;
	pointer-events: none;
}

.message-no-results {
	font-size: 16px;
	font-weight: 500;
}

@media screen and (max-width: 500px)  {
	.item-list {
		padding: 10px;
	}
}

/*==========================
sort
==========================*/

.item-sorting-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 50px;
	margin: 10px 0 30px;
}

.item-sorting-box-title {
	padding: 10px;
	white-space: nowrap;
}

.item-sorting-button {
	display: flex;
	align-items: center;
	margin: 5px;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid var(--color-outline);
	background: var(--color-main);
	line-height: 1;
	cursor: pointer;
	user-select: none;
	transition: 0s;
}

.sort-direction {
	font-family: sans-serif;
	margin-left: 5px;
}

.item-sorting-button.active {
	border: 2px solid var(--color-accent);
}

.item-sorting-button:hover {
	background: var(--color-accent);
	border-color: var(--color-accent);
	color: #ffffff;
}

@media screen and (max-width: 1150px)  {
	.item-sorting-box {
		flex-wrap: wrap;
		height: auto;
		font-size: 14px;
	}
}

/*==========================
item-image
==========================*/

.item-image {
	object-fit: contain;
	height: 130px;
	width: 130px;
	margin: 10px;
	border-radius: 10px;
}

/*==========================
item-other
==========================*/

.item-other {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
	flex: 1;
}

/*==========================
item-other-header
==========================*/

.item-other-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.item-title {
	font-size: 17px;
	font-weight: 500;
}

.item-short-description {
	color: var(--color-font-secondary);
}

/*==========================
textarea-container
==========================*/

.textarea-container {
	display: flex;
}

.item-short-description-textarea {
	min-height: 70px;
	resize: none;
}

/*==========================
item-other-footer
==========================*/

.item-other-footer {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.display-order {
	width: 30px;
}

/*==========================
rating
==========================*/

.rating {
	flex: 1;
	display: flex;
	align-items: center;
}

.star-icon {
	fill: var(--color-accent);
	width: 25px;
	height: 25px;
}

.rating-value {
	margin: 0 10px;
	font-weight: bold;
}

.review-count {
	color: var(--color-font-secondary);
}

.price {
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 900px)  {
	.rating {
		font-size: 12px;
		max-width: 50%;
	}
	.star-icon {
		width: 15px;
		height: 15px;
	}
	.rating-value {
		margin: 0 5px;
	}
	.review-count {
		width: 50%;
	}
}

/*==========================
admin-btn-container
==========================*/

.admin-btn-container {
	display: flex;
}

.admin-btn-container .btn {
	margin: 0 10px;
}

/*==========================
filters main
==========================*/

.filters-item-list-row {
	flex: 1;
	display: flex;
}

.filters-column {
	position: relative;
	width: 300px;
	margin-right: 50px;
}

.filters {
	width: 270px;
	border-radius: 10px;
	padding: 15px;

	--filters-height: calc(100vh - var(--nav-height) - 140px);
	max-height: var(--filters-height);
	overflow: auto;
}

.filters::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 900px)  {
	.filters-item-list-row {
		flex-direction: column;
		flex: auto;
	}

	.filters {
		width: 100%;
		overflow: visible;
		height: auto;
		max-height: 100vh;
	}

	.filters-column {
		width: 80%;
		padding: 10px;
		height: auto;
	}
}

/*==========================
filters price category
==========================*/

.filter-price {
	display: flex;
	flex-direction: column;
	width: 270px;
}

.filter-title {
	font-weight: 500;
}

.price-range {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

.price-box {
	flex: 1;
	padding: 0 6px;
	border-radius: 10px;
	border: 2px solid var(--color-outline);
}

.range-dash {
	width: 15px;
	height: 3px;
	margin: 5px;
	background: var(--color-outline);
}

.price-label {
	font-size: 11px;
	color: var(--color-icon);
}

.price-input {
	position: relative;
	display: flex;
	align-items: center;
}

.price-input input {
	margin: 5px 0;
	padding: 0 0 0 5px;
	width: 0;
	border: 0;
	height: 15px;
	line-height: 15px;
	border-radius: 10px;
}

.price-category-body-int {
	width: 100px;
	font-size: 20px;
}

/*==========================
filters specification category
==========================*/

.filter-specs {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 270px;
}

.filter-category {
	position: relative;
	margin: 0;
	line-height: 30px;
}

.expand-category {
	display: none;
}

.filter-category-label {
	position: absolute;
	height: 1.5rem;
	width: 100%;
	top: 0;
	cursor: pointer;
}

.filter-specs-block {
	overflow: hidden;
	height: 0;
}

.expand-category:checked ~ .filter-specs-block {
	height: 100%;
}

@media screen and (max-width: 900px)  {
	.filter-specs {
		width: 100%;
	}
}

/*==========================
btn-expand
==========================*/

.btn-expand {
	position: absolute;
	top: 0;
	right: 0;
	transform: rotateZ(0deg);
	transition: .2s;
}

.expand-category:checked ~ .filter-category-label .btn-expand {
	transform: rotateZ(180deg);
}

.spec-filter-section {
	padding: 5px 0;
	border-bottom: 1px solid var(--color-separator);
}

.spec-filter-section:first-child {
	border-top: 1px solid var(--color-separator);
}

.spec-value {
	display: flex;
	align-items: center;
	margin-right: 5px;
}

/*==========================
filters tag category
==========================*/

.filter-tags {
	margin-top: 10px;
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.tag {
	position: relative;
	margin: 2px;
}

.tag label {
	display: block;
	position: relative;
	border: 2px solid var(--color-outline);
	border-radius: 1in;
	padding: 5px;
	transition: 0s;
}

.tag input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
}

.tag input:checked ~ label {
	font-weight: 500;
	padding: 5px 4px;
	color: var(--color-main);
	background: var(--color-font);
	border-color: var(--color-font);
}

/*==========================
filter-buttons
==========================*/

.filter-buttons {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.filter-button {
	margin: 0;
}

.reset-button {
	margin: 0;
}

.filter-button-checkbox {
	display: none;
	position: absolute;
	left: 360px;
}

.btn-quick-apply {
	--btn-apply-width: 100px;
	position: absolute;
	width: var(--btn-apply-width);
	margin: 0;
	padding: 0;
	top: 0;
	right: calc(-1 * (var(--btn-apply-width) + 10px));
}
