.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #F6F6F6;
}

.search_result_count {
	margin: 25px 50px;
	font-size: 18px;
}

.filters-item-list-row {
	flex: 1;
	display: flex;
	max-width: 1500px;
}

/*==========================
filters
==========================*/

.filters-column {
	width: 300px;
	margin: 0 50px;
}

.filters {
	width: 300px;
	height: 300px;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/*==========================
items
==========================*/

.item-list {
	flex: 1;
	overflow: auto;
	margin-right: 50px;
}

.item {
	display: flex;
	flex: 1;
	min-height: 150px;
	margin: 0 5px 30px;
	background: #FFFFFF;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-decoration: none;
	color: inherit;
	transition: .3s;
}

.item:hover {
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.3);
	transition: .3s;
}

.item-image {
	object-fit: contain;
	height: 130px;
	width: 130px;
	margin: 10px;
}

.item-other {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
	flex: 1;
}

.item-other-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.item-title {
	font-size: 17px;
	font-weight: 500;
}

.item-other-footer {
	margin-top: 10px;
}

.add-to-favorites {
	width: 30px;
	height: 25px;
	min-width: 30px;
	fill: none;
	stroke: #222222;
}

.add-to-favorites:hover {
	fill: red;
	stroke: none;
}

.item-short-description {
	color: #7D7D7D;
}

.item-other-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rating {
	display: flex;
	align-items: center;
}

.star-icon {
	fill: #FF791E;
	width: 25px;
	height: 25px
}

.rating-value {
	margin: 0 10px;
	font-weight: bold;
	color: #333333;
}

.review-count {
	color: #7D7D7D;
}

.price {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}
