.btn-add-type {
	box-sizing: border-box;
	display: block;
	line-height: 36px;
	height: 40px;
	margin-left: 20px;
	background: #ffffff;
	color: inherit;
	padding: 0 20px;
	border-radius: 10px;
	border: 2px solid #D9D9D9;
}

.btn-add-type:hover {
	background: #F17F42;
	border-color: #F17F42;
	color: #ffffff;
	font-weight: 500;
}
