
.traceback-title, .request-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

.exception-code-line {
	margin: 15px 0 15px 30px;
	padding: 5px;
	background: var(--color-separator);
}

.method-name {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}

.method-parameter {
	margin: 5px 0 5px 10px;
	font-size: 15px;
}
