@import "opened-images.css";
@import "lib/card.css";

main {
	background: white;
}

.anchor {
	position: relative;
	left: 0;
	top: -100px;
}

.container {
	box-sizing: border-box;
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 50px;
	max-width: 1300px;
	width: 100%;
}

/*==========================
item-header
==========================*/

.item-header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.item-title {
	flex: 1;
	font-size: 20px;
	font-weight: 700;
}

.add-to-favorites {
	display: flex;
	margin-left: 15px;
	justify-content: end;
	align-items: center;
	cursor: pointer;
}

.add-to-favorites-label {
	padding-left: 10px;
	text-decoration: underline;
	font-weight: 600;
}

.add-to-favorites-icon {
	width: 30px;
	height: 25px;

	min-width: 30px;
	fill: none;
	stroke: #222222;
}

.add-to-favorites:hover .add-to-favorites-icon {
	fill: red;
	stroke: none;
}

/*==========================
item-main
==========================*/

.item-main {
	display: flex;
	width: 100%;
}

/*==========================
item-main-sidebar
==========================*/

.item-main-sidebar {
	width: 300px;
	min-width: 300px;
	margin-right: 50px;
}

.item-main-images {
	display: flex;
	padding: 10px;
}

.main-image {
	width: 100%;
	flex: 1;
	cursor: pointer;
	padding: 30px 0;
}

.images-other {
	display: flex;
	flex-direction: column;
}

.other-image {
	padding: 10px;
	max-height: 50px;
	cursor: pointer;
}

/*==========================
scroll-menu
==========================*/

.scroll-menu {
	display: flex;
	width: 300px;
	flex-direction: column;
	margin-top: 30px;
	padding: 10px 0;
}

.scroll-menu-item {
	display: flex;
	align-items: center;
	padding: 15px;
	transition: .4s;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.scroll-menu-item:hover {
	background-color: #eee;
	transition: .1s;
}

/*==========================
item-main-container
==========================*/

.item-main-container {
	flex: 1 0 ;
	flex-direction: column;
	margin-bottom: 70px;
	margin-right: 20px;
	max-width: calc(100% - 400px);
	width: 100%;
}

/*==========================
item-main-header
==========================*/

.item-main-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item-main-short-desc {
	flex: 1;
	margin-right: 15px;
}

.item-main-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item-main-tag {
	padding: 10px;
	margin: 5px;
	border-radius: 20px;
	border: 1px solid #333;
}

.item-main-short-desc-text {
	margin: 5px;
}

/*==========================
item-main-buy
==========================*/

.item-buy {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	padding: 20px;
}

.item-buy-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buy-price {
	display: flex;
}

.buy-price-value {
	font-size: 18px;
	font-weight: 700;
}

.buy-price-measure {
	margin: 0 10px 0 5px;
}

/*==========================
item-reviews
==========================*/

.buy-reviews {
	display: flex;
	align-items: center;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.star-icon {
	fill: #FF791E;
	width: 25px;
	height: 25px
}

.buy-reviews-label {
	display: flex;
	font-size: 12px;
	padding-left: 10px;
	font-weight: bold;
}

.buy-reviews-separator {
	margin: 0 5px;
}

.buy-reviews-count {
	text-decoration: underline;
}

.btn-buy {
	display: flex;
	margin-top: 20px;
	height: 40px;
	background: #FF791E;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	user-select: none;
}

/*==========================
item-main-specs
==========================*/

.item-section-title {
	font-size: 18px;
	font-weight: 700;
}

.item-main-specs {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 30px 0;
}

.spec-category {
	font-weight: bold;
	margin-top: 20px;
}

.item-spec {
	display: flex;
	padding-top: 15px;
}

.item-spec-name {
	flex: 1;
	border-bottom: 1px dotted #CCCCCC;
}

.item-spec-value {
	margin-left: 10px;
	flex: 1;
}

/*==========================
item-description
==========================*/

.item-description {
	margin: 30px 0;
}

.description-text {
	margin-top: 15px;
	line-height: 1.5;
	text-align: justify;
}

/*==========================
item-reviews
==========================*/

.item-reviews {
	margin: 30px 0;
}

.reviews-header {
	display: flex;
	align-items: center;
}

.reviews-label {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
}

.reviews-separator {
	margin: 0 5px;
}

.item-review {
	display: flex;
	padding: 15px 0;
	justify-content: center;
}

.item-review-photo {
	display: flex;
	align-items: center;
}

.item-review-photo img {
	max-width: 100px;
	border-radius: 50%;
}

.item-review-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	max-width: 100%;
}

.item-review-name {
	font-weight: bold;
	padding: 10px 0;
}

.item-review-date {
	color: #7d7d7d;
	font-size: 14px;
}

.item-review-text {
	display: flex;
	align-items: center;
	line-height: 1.5;
	text-align: justify;
	width: 80%;
}

/*==========================
similar-item
==========================*/

.similar-item-section{
	display: flex;
	flex-direction: column;
}

.similar-item-title {
	font-size: 18px;
	font-weight: 700;
}

.similar-item-main-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

.slider-wrapper {
	width: 100%;
	scroll-behavior: smooth;
	overflow: hidden;
}

.similar-item-cards-section {
	position: relative;
	display: flex;
	transition: 0.5s;
}

.similar-item-cards-right-arrow {
	transform: rotateZ(-90deg);
}

.similar-item-card {
	display: flex;
	flex: 1 0 calc(50% - 20px);
	height: 150px;
	margin: 10px;
}

.similar-item-image{
	object-fit: contain;
	height: 130px;
	width: 130px;
	margin: 10px;
}

.similar-item-body-section{
	flex: 1;
	display: flex;
	flex-direction: column;
}

.similar-item-body-title
{
	flex: 1;
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
}

.similar-item-body-price {
	display: flex;
	justify-content: flex-end;
	margin: 5%;
}
