@import "reset.css";
@import "lib/btn.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	transition: background-color .5s, fill .1s, box-shadow .5s,
	border-top-color .5s, border-right-color .5s, border-bottom-color .5s, border-left-color .5s;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: var(--color-font);
	--nav-height: 70px;
	max-width: 100%;
	overflow-x: hidden;
	background-color: var(--color-main);
}


/*==========================
nav
==========================*/

nav {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: var(--nav-height);
	display: flex;
	align-items: center;
	background-color: var(--color-main);
	padding: 0 50px;
	box-shadow: 0 2px 10px var(--color-shadow);
}

.logo {
	fill: var(--color-accent);
	min-width: 99px;
	width: 99px;
	height: 50px;
	margin-right: 50px;
}

@media screen and (max-width: 1150px)  {
	nav {
		padding: 0 10px;
	}

	.logo {
		min-width: 60px;
		width: 60px;
		margin-right: 20px;
	}
}

/*==========================
search
==========================*/

.search {
	display: flex;
	height: 40px;
	flex: 2;
	margin-right: 30px;
	border-radius: 10px;
	background: var(--color-secondary);
}

.search-field::placeholder {
	color: var(--color-placeholder);
}

.search-field {
	flex: 1;
	padding: 0 20px;
	border-radius: 10px 0 0 10px;
	background: transparent;
	border: none transparent;
	outline: none;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	color: var(--color-font);
}

@media screen and (max-width: 1150px)  {
	.search {
		margin-right: 10px;
		padding: 0 10px;
		justify-content: space-between;
	}
	.search-field {
		font-size: 12px;
		padding-right: 0;
		padding-left: 5px;
		max-width: 100px;
	}
}

/*==========================
search-icon
==========================*/

.search-icon {
	display: flex;
	height: 35px;
	width: 70px;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 1150px)  {
	.search-icon {
		height: 35px;
		width: 35px;
	}
}

.search-icon div {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 3px solid var(--color-icon);
	transform: rotateZ(-135deg);
}

.search-icon div::after {
	position: absolute;
	content: '';
	left: -13px;
	top: 6px;
	width: 12px;
	height: 3px;
	background: var(--color-icon);
	border-radius: 50px;
}

.sign-in {
	margin: 0 10px !important;
}

@media screen and (max-width: 900px)  {
	.sign-up {
		display: none;
	}
	.sign-in {
		margin: 0 5px !important;
	}
}

/*==========================
nav-bar
==========================*/

.nav-bar {
	flex: 3;
	display: flex;
}

.nav-item {
	display: flex;
	align-items: center;
	position: relative;
	height: var(--nav-height);
	padding: 0 20px;
	border-bottom: inset 0 0 var(--color-accent);
	text-align: center;
	cursor: default;
	transition: .1s;
}

.nav-item:hover, .nav-item-active {
	box-shadow: inset 0 -4px var(--color-accent);
}

.cart {
	margin-right: 10px;
	width: 26px;
	height: 26px;
	fill: var(--color-font);
}

@media screen and (max-width: 1150px)  {
	.nav-cart {
		display: none;
	}
	.nav-item {
		padding: 0 5px;
	}
}

/*==========================
menu
==========================*/

.nav-item:hover .menu-container {
	display: block;
}

.menu-container {
	display: none;
	position: absolute;
	left: 0;
	top: var(--nav-height);
}

.profile {
	right: 0;
	left: auto;
}

.menu {
	width: 250px;
	margin-top: 8px;
	padding: 10px 0;
	border-radius: 12px;
	background: var(--color-main);
	box-shadow: 0 4px 10px 5px var(--color-shadow);
}

.menu-item {
	display: block;
	padding: 0 15px;
	line-height: 40px;
	text-align: left;
	user-select: none;
	transition: .1s;
}

.menu-item-btn {
	display: block;
}

.menu-item:hover {
	background: var(--color-secondary);
}

/*==========================
btn-theme
==========================*/

.btn-theme {
	flex: 0;
	min-width: 30px;
	width: 26px;
	height: 26px;
	margin-left: 25px;
	cursor: pointer;
}


@media screen and (max-width: 500px)  {
	.btn-theme {
		margin-left: 5px;
	}
}

/*==========================
main
==========================*/

main {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: calc(100vh - var(--nav-height));
	top: var(--nav-height);
	z-index: -1;
	background: var(--color-background);
}

.center {
	display: flex;
	justify-content: center;
}

/*==========================
footer
==========================*/

.footer {
	display: flex;
	height: 70px;
	width: 100%;
	background: var(--color-footer);
	color: white;
	align-items: center;
	justify-content: center;
}

.footer a {
	text-decoration: none;
	color: white;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	transition: .5s;
}

.footer a:hover {
	background: #444;
	transition: .5s;
}

@media screen and (max-width: 900px)  {
	.footer {
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		height: auto;
		padding: 10px;
	}

	.footer a {
		margin: 0;
		text-align: center;
	}
}
