@import "lib/input.css";
@import "lib/btn.css";
@import "lib/alert-dialog.css";

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 30px 50px 0;
}

/*==========================
order-items
==========================*/

.order-items {
	display: flex;
	flex-wrap: wrap;
}

.order-item {
	display: flex;
	max-width: 400px;
	padding: 10px;
	margin: 0 20px 20px 0;
	border-radius: 10px;
	box-shadow: 0 4px 10px 2px #0000001A;
	border: 1px solid var(--color-outline);
}

.item-image {
	width: 130px;
	height: 130px;
	object-fit: contain;
	border-radius: 10px;
}

.item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-title {
	padding: 10px;
}

.item-price {
	padding: 10px;
	font-weight: 700;
	text-align: right;
}

.item-count-info {
	display: flex;
	flex-direction: row;
	align-self: end;
}

.item-count-btn {
	height: 19px;
	width: 21px;
	border: 0;
	background: #ebebeb;
	border-radius: 3px;
}

.item-count-btn:hover {
	background: #bdbdbd;
	transition: 0.5s;
}

.item-count {
	margin: auto 12px;
}

.btn-return-home {
	width: fit-content;
}

/*==========================
customer-data
==========================*/

.container form {
	max-width: 1200px;
}

.user-data {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.user-data-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.user-name, .user-contact {
	display: flex;
	flex-wrap: wrap;
}

.order-summary {
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	text-align: center;
}

/*==========================
cart-notification
==========================*/


.cart-notification {
	display: flex;
	font-size: 22px;
	font-weight: bold;
	justify-content: center;
	margin: 100px 0;
}