@import "lib/input.css";
@import "lib/btn.css";

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 30px 50px 0;
	max-width: 1500px;
}

/*==========================
order-items
==========================*/

.order-items {
	display: flex;
	flex-wrap: wrap;
}

.order-item {
	display: flex;
	max-width: 400px;
	padding: 10px;
	margin: 0 20px 20px 0;
	border-radius: 10px;
	box-shadow: 0 4px 10px 2px #0000001A;
	border: 1px solid #DDDDDD;
}

.item-image {
	width: 130px;
	height: 130px;
	object-fit: contain;
	border-radius: 10px;
}

.item-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-title {
	padding: 10px;
}

.item-price {
	padding: 10px;
	font-weight: 700;
	text-align: right;
}

/*==========================
customer-data
==========================*/

.user-data {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.user-data-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.user-name, .user-contact {
	display: flex;
	flex-wrap: wrap;
}

.order-comment {
	line-height: 15px;
	padding: 10px;
}
