@import "lib/card.css";
@import "lib/input.css";
@import "lib/pagination.css";
@import "lib/popup.css";

.review-card {
	margin: 20px 0 20px 0;
	padding: 10px 20px;
}

.more-reviews-title {
	font-size: 18px;
	font-weight: 600;
	margin: 30px 0;
}

.card.your-review-card {
	background: rgba(255, 233, 177, 0.2);
}

.delete-section {
	display: flex;
}
