@import "lib/card.css";
@import "lib/input.css";
@import "lib/pagination.css";
@import "lib/popup.css";

.review-card {
	margin: 20px 0 20px 0;
	padding: 10px;
	position: relative;
}

.more-reviews-title {
	font-size: 17px;
	font-weight: 500;
	margin: 20px 0 20px 0;
}

.card.your-review-card {
	background: rgba(255, 233, 177, 0.2);
}
