
.opened-images {
	z-index: 999;
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: calc(100vh - var(--nav-height));
	background: var(--color-main);
	align-items: center;
}

.come-in {
	animation: come-in .5s forwards;
}

.come-out {
	animation: come-out .5s forwards, disappear 0s forwards;
	animation-delay: 0s, .2s;
}

.collapse {
	animation: collapse .5s forwards;
}

@keyframes come-in {
	from {
		top: 100vh;
	}
	to {
		top: 0;
	}
}

@keyframes come-out {
	from {
		top: 0;
	}
	to {
		top: 100vh;
	}
}

@keyframes collapse {
	from {
		overflow: hidden;
		max-height: 100vh;
	}
	to {
		overflow: hidden;
		max-height: 0;
	}
}

@keyframes disappear {
	to {
		position: absolute;
		top: 0;
		left: -100vw;
		max-height: 0;
		overflow: hidden;
	}
}

.open-images-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px 50px;
	width: 100%;
	max-width: 1500px;
}

.open-images-header {
	display: flex;
	justify-content: space-between;
}

.open-images-main {
	display: flex;
	justify-content: center;
}

.image-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.opened-image {
	object-fit: none;
	margin: 30px;
	border-radius: 15px;
}
