@import "lib/pagination.css";
@import "lib/card.css";
@import "lib/input.css";
@import "lib/popup.css";
@import "lib/alert-dialog.css";

.user-line {
	margin: 5px;
	display: flex;
	align-items: center;
	width: 50%;
}

.search-count {
	margin-right: 20px;
}


/*==========================
search
==========================*/

.local-search {
	display: flex;
	height: 40px;
	line-height: 40px;
	flex: 1;
	border-radius: 10px;
	background: var(--color-main);
	border: 2px solid var(--color-outline);
}

.search-field::placeholder {
	color: var(--color-placeholder);
}

.user-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.user {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
	max-width: 1300px;
	width: 100%;
	justify-content: space-between;


}

.user-body {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
}

.user-info {
	margin: 5px;
	white-space: nowrap;
}

.user-info label {
	font-weight: bold;
}


.edit-button {
	margin: 0;
	width: 40px;
	height: 30px;
}

.pencil {
	height: 100%;
	width: 100%;
}

