
:root {
	--color-main: #ffffff;
	--color-secondary: #f7f7f7;
	--color-footer: #333333;
	--color-accent: #f17f42;
	--color-icon: #afafaf;
	--color-font: #333333;
	--color-font-secondary: #7D7D7D;
	--color-blocked: #dddddd;
	--color-placeholder: #bbbbbb;
	--color-separator: #ebebeb;

	--color-like: red;
}
