
:root {
	--color-main: #ffffff;
	--color-secondary: #f7f7f7;
	--color-background: #f6f6f6;
	--color-footer: #333333;
	--color-accent: #f17f42;
	--color-icon: #afafaf;
	--color-font: #333333;
	--color-font-secondary: #7D7D7D;
	--color-blocked: #dddddd;
	--color-placeholder: #bbbbbb;
	--color-outline: #dddddd;
	--color-separator: #ebebeb;

	--color-like: #ff0000;

	--color-add: #009AFF;
	--color-delete: #DF0310;
	--color-change: #107F84;

	--color-shadow: rgba(0, 0, 0, 0.2);
}
